<%- include('../partials/header') %>
<div class="row d-flex justify-content-center mb-5">

    <h2><%= title %></h2>
</div>
<form id="new-book" action="/books" method="POST">
    <div class="row d-flex flex-wrap">
        <div class="col-xs-12">
            <fieldset>
                <legend>Book</legend>
                <div>
                    <label for="title">Title: *</label><br />
                    <input type="text" name="title" id="title">
                </div>
                <div>
                    <label for="author">Author: *</label><br />
                    <input type="text" name="author" id="author">
                </div>
            </fieldset>
        </div>
    </div><!-- end row-->
        <fieldset class="d-flex flex-row flex-wrap">
            <legend>Category</legend>
            <div class="d-flex flex-row flex-wrap">
                <div class="col-xs-12 col-md-6 mb-3">
                    <div>
                        <label for="published2020"><input type="radio" name="category" value="published2020" id="published2020">A book published in 2020 </label>
                    </div>
                    <div><label for="transAuthor"><input type="radio" name="category" value="tansAuthor" id="transAuthor">A book by a trans or nonbinary author</label></div>
                    <div>
                        <label for="greatFirstLine"><input type="radio" name="category" value="greatFirstLine" id="greatFirstLine">A book with a great first line</label>
                    </div>
                    <div>
                        <label for="aboutBookClub"><input type="radio" name="category" value="aboutBookClub" id="aboutBookClub">A book about a book club</label>
                    </div>
                    <div>
                        <label for="olympicCity"><input type="radio" name="category" value="olympicCity" id="olympicCity">A book set in a city that has hosted the Olympics</label>
                    </div>
                    <div>
                        <label for="bildungsroman"><input type="radio" name="category" value="bildungsroman" id="bildungsroman">A bildungsroman</label>
                    </div>
                    <div>
                        <label for="eyesClosed"><input type="radio" name="category" value="eyesClosed" id="eyesClosed">The first book you touch on a shelf with your eyes closed</label>
                    </div>
                    <div>
                        <label for="upsideDownImage"><input type="radio" name="category" value="upsideDownImage" id="upsideDownImage">A book with an upside-down image on the cover</label>
                    </div>
                    <div><input type="radio" name="category" value="withMap" id="withMap"><label for="withMap">A book
                        with a map</label>
                    </div>
                    <div><label for="onlineRecommendation"> <input type="radio" name="category" value="onlineRecommendation" id="onlineRecommendation">A book recommended by your favorite blog, vlog, podcast, or online book club</label></div>
                    <div>
                        <label for="anthology"><input type="radio" name="category" value="anthology" id="anthology">An anthology</label>
                    </div>
                    <div>
                        <label for="passesBechdel"><input type="radio" name="category" value="passesBechdel" id="passesBechdel">A book that passes the Bechdel test</label>
                    </div>
                    <div>
                        <label for="sameTitleUnrelated"><input type="radio" name="category" value="sameTitleUnrelated" id="sameTitleUnrelated">A book with the same title as a movie or TV show, but is unrelated</label>
                    </div>
                    <div>
                        <label for="floraFaunaAuthorName"><input type="radio" name="category" value="floraFaunaAuthorName" id="floraFaunaAuthorName">A book by an author with flora or fauna in their name</label>
                    </div>
                </div><!-- end col-->
                <div class="col-xs-12 col-md-6 mb-3">
                    <div>
                        <label for="involvingSocialMedia"><input type="radio" name="category" value="involvingSocialMedia" id="involvingSocialMedia">A book about or involving social media</label>
                    </div>
                    <div><label for="bookOnCover"><input type="radio" name="category" value="bookOnCover" id="bookOnCover">A book that has a book on the cover</label></div>
                    <div>
                        <label for="medicalThriller"><input type="radio" name="category" value="medicalThriller" id="medicalThriller">A medical thriller</label>
                    </div>
                    <div>
                        <label for="madeupLanguage"><input type="radio" name="category" value="madeupLanguage" id="madeupLanguage">A book with a made-up language</label>
                    </div>
                    <div>
                        <label for="countryStartsWithC"><input type="radio" name="category" value="countryStartsWithC" id="countryStartsWithC">A book set in a country beginning with "C"</label>
                    </div>
                    <div><label for="titleCaughtAttention"><input type="radio" name="category" value="titleCaughtAttention" id="titleCaughtAttention">A book you picked up because the title caught your attention</label></div>
                    <div>
                        <label for="publishedBirthMonth"><input type="radio" name="category" value="publishedBirthMonth" id="publishedBirthMonth">A book published the month of your birthday</label>
                    </div>
                    <div><label for="womanInStem"><input type="radio" name="category" value="womanInStem" id="womanInStem">A book about or by a woman in STEM</label></div>
                    <div><label for="award2019"><input type="radio" name="category" value="award2019" id="award2019">A gook that won an award in 2019</label></div>
                    <div><label for="unknownSubject"><input type="radio" name="category" value="unknownSubject" id="unknownSubject">A book on a subject you know nothing about</label></div>
                    <div>
                        <label for="coverOnlyWords"><input type="radio" name="category" value="coverOnlyWords" id="coverOnlyWords">A book with only words on the cover, no images or graphics</label>
                    </div>
                    <div>
                        <label for="titlePun"><input type="radio" name="category" value="titlePun" id="titlePun">A book with a pun in the title</label>
                    </div>
                    <div><label for="featuresSin"><input type="radio" name="category" value="featuresSin" id="featuresSin">A book featuring one of the seven deadly sins</label></div>
                    <div>
                        <label for="artificialCharacter"><input type="radio" name="category" value="artificialCharacter" id="artificialCharacter">A book with a robot, cyborg, or AI character</label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 mb-3">
                    <div>
                        <label for="birdCover"><input type="radio" name="category" value="birdCover" id="birdCover">A book with a bird on the cover</label>
                    </div>
                    <div>
                        <label for="aboutWorldLeader"><input type="radio" name="category" value="aboutWorldLeader" id="aboutWorldLeader">A fiction or nonfiction book about a world leader</label>
                    </div>
                    <div>
                        <label for="goldSilverBronze"><input type="radio" name="category" id="goldSilverBronze" value="goldSilverBronze">A book with "gold," "silver," or "bronze" in the title</label>
                    </div>
                    <div>
                        <label for="authorWomanOfColor"><input type="radio" name="category" id="authorWomanOfColor" value="authorWomanOfColor">A book by a WOC</label>
                    </div>
                    <div><label for="goodreadsFourStar"><input type="radio" name="category" id="goodreadsFourStar" value="goodreadsFourStar">A book with at least a 4-star rating on Goodreads</label></div>
                    <div><label for="meantToRead2019"><input type="radio" name="category" id="meantToRead2019" value="meantToRead2019">A book you meant to read in 2019</label></div>
                    <div><label for="threeWordTitle"><input type="radio" name="category" id="threeWordTitle" value="threeWordTitle">A book with a 3-word title</label></div>
                    <div><label for="pinkCover"><input type="radio" name="category" id="pinkCover" value="pinkCover">A book with a pink cover</label></div>
                    <div><label for="western"><input type="radio" name="category" id="western" value="western">A Western</label></div>
                    <div><label for="byAboutJournalist"><input type="radio" name="category" id="byAboutJournalist" value="byAboutJournalist">A book by or about a journalist</label></div>
                    <div><label for="banned"><input type="radio" name="category" id="banned" value="banned">Read a banned book during Banned Books Week</label></div>
                    <div><label for="favPrompt"><input type="radio" name="category" id="favPrompt" value="favPrompt">Your favorite prompt from a past POPSUGAR Reading Challenge</label></div>
                </div>
                <div class="col-xs-12 col-md-6 mb-3 px-4 py-4 gray">
                    <h5>Advanced</h5>
                    <div><label for="authorIn20s"><input type="radio" name="category" id="authorIn20s" value="authorIn20s">A book written by an author in their 20s</label></div>
                    <div><label for="title20Twenty"><input type="radio" name="category" id="title20Twenty" value="title20Twenty">A book with "20" or "twenty" in the title</label></div>
                    <div><label for="visionImpairedCharacter"><input type="radio" name="category" id="visionImpairedCharacter" value="visionImpairedCharacter">A book with a character with a vision impairment or enhancement (a nod to 20/20 vision)</label></div>
                    <div><label for="inJapan"><input type="radio" name="category" id="inJapan" value="inJapan">A book set in Japan, host of the 2020 Olympics</label></div>
                    <div><label for="setIn20s"><input type="radio" name="category" id="setIn20s" value="setIn20s">A book set in the 1920s</label></div>
                    <div><label for="authorWrittenMoreThan20"><input type="radio" name="category" id="authorWrittenMoreThan20" value="authorWrittenMoreThan20">A book written by an author who has written more than 20 books</label></div>
                    <div><label for="titleMoreThan20Letters"><input type="radio" name="category" value="titleMoreThan20Letters" id="titleMoreThan20Letters">A book with more than 20 letters in its title</label></div>
                    <div><label for="published20thCentury"><input type="radio" name="category" id="published20thCentury" value="published20thCentury">A book published in the 20th century</label></div>
                    <div><label for="seriesMoreThan20"><input type="radio" name="category" id="seriesMoreThan20" value="seriesMoreThan20">A book from a series with more than 20 books</label></div>
                    <div><label for="characterIn20s"><input type="radio" name="category" id="characterIn20s" value="characterIn20s">A book with a main character in their 20s</label></div>
                </div>
            
        </fieldset><!-- end row -->

    <label for="rating">Rating</label><br/>
    <select name="rating" id="rating">
        <option value="1"><span class="icon">★</span></option>
        <option value="2"><span class="icon">★★</span></option>
        <option value="3"><span class="icon">★★★</span></option>
        <option value="4"><span class="icon">★★★★</span></option>
        <option value="5"><span class="icon">★★★★★</span></option>
    </select>

    <!-- <div class="rating">
        <fieldset>
            <legend>Rate &amp; Review</legend>
            <label>
                <input type="radio" name="stars" value="1" />
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="2" />
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="3" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="4" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="5" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
        </fieldset>
    </div> -->
    <div col-xs-12 class="mb-4">
        <label for="content">Review</label><br />
        <textarea name="content" id="content" cols="100" rows="10"></textarea>
    </div>
    <div col-xs-12 class="mb-4">
        <input type="submit" value="Add Book">
    </div>

</form>
<%- include('../partials/footer') %>