<div class="row d-flex justify-content-between">
   
    <div class="card pa-3">
        <div class="card-body">
            <h5 class="card-title">
                Book Title
            </h5>
            <h6>Author</h6>
            <div class="card-text">
                <p>Rating</p>
                <p>Review</p>
            </div>
        </div>
    </div>

</div>