<%- include('./partials/header') %>
    <main id="landing">
        <div class="container py-5">
    <% if (!user) { %>
        <div class="row mb-4 justify-content-center">
            <div class="col-12 mb-4">
                <h1 class="text-center">Please log in with your Goodreads account.</h1>
            </div>
            <div class="col-12">
                <p class="text-center"><a class="btn btn-primary btn-lg mx-auto" href="/auth/goodreads" role="button">Log In</a></p>
            </div>
            
        </div>
            <% } else { %>
                <div class="row mb-4 justify-content-center">
                    <h2>Hello, <%= user.displayName %>.</h2>
                    <a href="/books">See All Your Books</a>
                </div>
        </div>

    <% } %>

    </div>
<%- include('./partials/footer') %>