<%- include('./partials/header') %>
    <main id="landing">
        <div class="container py-5">
    <% if (!user) { %>
        <div class="row mb-4">
            <h2>Welcome! Please log in.</h2>
        </div>
            <% } else { %>
                <div class="row mb-4">
                    <h2>Hello, <%= user.displayName %>.</h2>
                    <a href="/books">See All Your Books</a>
                </div>
        </div>

    <% } %>

    </div>
<%- include('./partials/footer') %>