* {
  box-sizing: border-box;
}
body {
  background-color: #ff8587;
}
main#landing {
  background: url('/images/reading-challeng-bkgd.svg') no-repeat;
  background-position: center top;
  background-size: 100%;
  height: 100vh;
}
main#bookcards > div.container {
  background: rgba(255, 255, 255, 0.8);
}
/* 
font-family: 'Noto Sans JP', sans-serif; */
nav {
  background: #ff8587;
  font-family: 'Baloo Bhai', cursive;
}
.navbar-brand {
  font-size: 1.15em;
  color:#fff;
}
@media (min-width:600px) {
  .navbar-brand {
    font-size: 2em;
  }
}
.nav-item.nav-link {
  color: #fff;
  font-size: 1.2em;
}
.navbar-brand:hover, .nav-item.nav-link:hover {
  color: #fed349;
}
.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.card {
  width:98%;
}
@media (min-width:992px) {
  .card {
    width:32%;
  }
}
@media (min-width:767px) and (max-width:991px) {
	.card {
		width: 48%;
  }
}
.gray {
    background-color: #e6e6e6;
}
fieldset {
  min-width: 95%;
}
input {
    margin: .4rem;
}
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}